
/*-------------css URBANIAK----------------------*/
html,body{

  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background: url(../img/accueil.jpg)
 no-repeat center center fixed;
}

a{
  color:#c00;
  list-style-type: none;
  text-decoration: none;
  }
li{

  list-style-type: none;

}

/*--------------------A C C U E I L----------------------*/





/*--------------BODY--------------------------------*/

h1{
  font-family: 'Orbitron', sans-serif;
  color: rgb(175,255,251,0.5);
  margin-top: 100px;
}
h1 span{

  color: rgb(14, 62, 165);

}

.nav {
  width:100%;
  margin-left: 100px;
}

 .nav nav ul li {

  list-style-type: none;
  float: left;
  border: 1px solid white;
  width: 25%;
  background-color: rgb(60,90,153);



}

.nav nav ul li a{

  line-height: 3.5em;
  color: white;


}
.corps .conte{

  margin-top: 30px;

}
.contenu .rens{

    width: 60%;
    height: auto;
    border: 1px solid white;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    text-align:left;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}

.contenu .rens img{

  width: 100%;
  border: 1px solid black;
  margin-bottom: 30px;
}
.contenu .rens img:hover{


}


.contenu .rens a{

  color: black;
  display: inline-block;

}

/*-------------------F O O T E R----------------------------*/
 footer{
   display:block;
   background-color: rgb(216,216,216);
   width: 100%;
   height: 10%;
   margin-top: 50px;



}
footer .heure{
  width: 10%;
  /*height: 6%;*/
  background-color: white;

}

#date{
  width: 30%;
  background-color: #c0b9b9;
}

footer .resaux{

  width: 25%;
  margin: 0 auto;
}

footer .resaux ul{



}

}
footer .resaux .ul  {
  float: left;


}

footer .resaux .ul a{



}

.resaux img{

  border-radius: 7px;
  width: 40px;
  height: 40px;
  float: left;

}





/*-------------------CSS FORMULAIRE--------------*/

form li{


  border-radius: 10px;
  -moz-border-radius: 5px;
  -web-kit-border-radius: 5px;
  padding: 20px;
  width: 20%;
  margin:auto;

  }

  form ol{

    display: block;
    list-style-type: none;

  }

  form fieldset{

border: none;

margin-right: 30%;

  }
   fieldset .message{


    float: left;

  }
/*-------------------------js-------------*/
  .red{

    color: red;

  }
